.dates {
  display: flex;
  text-align: right;
  :not(:last-child) {
    flex-grow: 1;
    margin: 0 0.5em;
  }
}

.date {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.dateClear {
  padding: 0.5em;
  border-radius: 25px;
  margin-left: auto;
}